@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap");
* {
  /* font-family: "Inknut Antiqua", serif; */
  font-weight: 300;
  font-style: normal;
}

.carousel__dot {
  background-color: #333;
  transition: background-color 0.3s;
}

.carousel__dot--selected {
  background-color: #ffa500;
}
